---
import "./../style/index.css";
import SiteGestionNote from "../components/descriptions/SiteGestionNote.astro";
import AppTrain from "../components/descriptions/AppTrain.astro";
import Footer from "../components/footer/Footer.astro"; 

const components = {
  SiteGestionNote,
  AppTrain,
};

const { url } = Astro.request;
const page = new URL(url).searchParams.get("page");
const SelectedComponent = components[page];

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content=""
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Aubin Perchet" />
    <meta property="og:title" content="Aubin Perchet Portfolio" />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portfolio | Aubin Perchet</title>
  </head>
  <body>
    <div class="container_p">
      {SelectedComponent ? <SelectedComponent /> : <p>Composant introuvable.</p>}

    </div>
  </body>
  <Footer />
</html>